.tasks-swiper {
    width: 100%;
    height: 250px;
    z-index: 2;
    background-color: var(--light-th-hover-col, var(--focus-col));
    border-radius: 7px;
    box-shadow: 0 0 2px var(--light-box-sh-col, transparent);
}

@media (max-width:767px) {
    .tasks-swiper {
        width: calc(100% + 20px);
        margin-left: -10px;

    }
}

.tasks-swiper .task-slide {
    width: 250px !important;
    height: 68% !important;
    overflow: hidden;
    background-color: var(--white-col);
    border-radius: 10px;
    margin: 30px 0 30px 20px;
    box-shadow: 0 0 5px var(--light-box-sh-col);
}

.tasks-swiper .task-slide .link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tasks-swiper .task-slide .img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-th-med-blue-col, var(--dark-blue-col));
    width: 100%;
    height: 67%;
    border-bottom-left-radius: 40px;
    padding: 5px;

}

.tasks-swiper .task-slide .img-box::after {
    content: "";
    position: absolute;
    right: -1px;
    bottom: -30px;
    width: 30px;
    height: 30px;
    background-color: var(--light-th-med-blue-col, var(--dark-blue-col));
    z-index: 1;
}

.tasks-swiper .task-slide .img-box .task-img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 40px;
}

.tasks-swiper .task-slide .task-status {
    position: absolute;
    left: 7px;
    top: 7px;
    padding: 3px 5px;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--red-col);
    color: var(--white-col);
    z-index: 1;
}

.tasks-swiper .task-slide .menu-box {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    background-color: var(--white-col);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.tasks-swiper .menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: transparent;
}

.tasks-swiper .task-slide .menu-box .icon {
    color: var(--med-blue-col);
    font-size: 20px;

}




.tasks-swiper .task-slide .task-menu {
    position: absolute;
    right: 0;
    top: 140%;
    width: 140px;
    padding: 5px;
    background-color: var(--red-col);
    border-radius: 7px;
    border-width: 0 2px 2px;
    outline-width: 0 2px 2px;

}

.tasks-swiper .task-slide .task-menu::after {
    content: "";
    position: absolute;
    top: -22%;
    right: 4px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--red-col) transparent;
}

.tasks-swiper .task-slide .task-menu .btn {
    cursor: pointer;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 2px 0;
    background-color: var(--white-col);
    color: var(--dark-blue-col);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;

}








.tasks-swiper .task-slide .task-data {
    position: relative;
    height: 33%;
    width: 100%;
    background-color: var(--white-col);
    display: flex;
    align-items: center;
}

.tasks-swiper .task-slide .task-data::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: var(--white-col);
    border-top-right-radius: 40px;
    z-index: 1;

}

.tasks-swiper .task-slide .task-data .task-title {
    color: var(--med-blue-col);
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 20px;
}


.tasks-swiper .swiper-button-next,
.tasks-swiper .swiper-button-prev {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-color: var(--med-blue-col);
    /* border: 1px solid var(--white-col); */
    box-shadow: 0 0 2px var(--white-sh-col);
}

.tasks-swiper .swiper-button-next:hover,
.tasks-swiper .swiper-button-prev:hover {
    border-color: var(--light-blue-col);
}

.tasks-swiper .swiper-button-next::after,
.tasks-swiper .swiper-button-prev::after {
    font-size: 18px;
    color: var(--white-col);
}

.tasks-swiper .swiper-button-next:hover::after,
.tasks-swiper .swiper-button-prev:hover::after {
    color: var(--light-blue-col);
}


.tasks-swiper .swiper-pagination-bullet-active {
    background-color: var(--light-blue-col);
}

@media (max-width:767px) {

    .tasks-swiper .swiper-button-next,
    .tasks-swiper .swiper-button-prev {
        display: none;
    }
}