.right-side-bar {
    background-color: var(--primary-col);
    position: absolute;
    right: 10px;
    top: 0;
    width: 330px;
    height: 525px;
    display: grid;
    grid-template-rows: 16% 84%;
    z-index: 2;
    border-radius: 10px;
}

@media (max-width:767px) {
    .right-side-bar.show-in-side {
        display: none;
    }
}

@media (min-width:768px) {
    .right-side-bar.show-in-header {
        display: none;
    }

    .right-side-bar.show-in-side {
        position: sticky;
        top: 75px;
    }
}


.right-side-bar .profil-tools {
    display: flex;
    align-items: center;
    padding: 0 14px;
    display: grid;
    grid-template-columns: 33% 67%;
}

.right-side-bar .profil-tools .user-tools-box {
    position: relative;
    height: 70px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 20%;
    align-items: center;

}

.right-side-bar .profil-tools .user-tools-box img {
    cursor: pointer;
    border: 3px dashed var(--grey-col);
    outline: 1px solid var(--white-col);
    box-shadow: 0 0 5px var(--grey-col);
    width: 100%;
    height: 55px;
    border-radius: 50%;

}

.right-side-bar .profil-tools .user-tools-box .char-image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-col);
    background-color: var(--grey-col);
}

.right-side-bar .profil-tools .user-tools-box .user-name {
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 7px;
    font-size: 20px;
    color: var(--white-col);
}

.right-side-bar .profil-tools .user-tools-box .menu-icon-box {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.right-side-bar .profil-tools .user-tools-box .menu-icon-box:hover {
    background-color: var(--hover-col);
}

.right-side-bar .profil-tools .user-tools-box .icon {
    color: var(--grey-col);
    font-size: 22px;
}

.right-side-bar .profil-tools .user-tools-box .profile-menu {
    position: absolute;
    right: 0;
    top: 96%;
    width: 98%;
    padding: 6px 6px 0;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    border: 3px solid var(--hover-col);
    background-color: var(--primary-col);
}

.right-side-bar .profil-tools .user-tools-box .profile-menu .btn {
    cursor: pointer;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin-bottom: 6px;
    background-color: var(--hover-col);
    color: var(--white-col);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.right-side-bar .profil-tools .user-tools-box .profile-menu a:last-of-type .btn {
    background-color: var(--red-col);
}