.footer {
    height: 90px;
    background-color: var(--light-th-med-blue-col, var(--secondary-col));
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer span {
    font-size: 20px;
    font-weight: 700;
    color: var(--white-col);
}