* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body.light {
    --primary-txt-col: #607D8B;
    --primary-box-sh-col: #607D8B;
    /* --primary-box-col: #F0F0F0; */

    /* #6FA7FF; */
    /* --light-col: #F7AB4B; */

    /* --aqua-col: #90BEFF; */
    --grey-col: #757575;
    /* --bg-col: #F6F5F8; */
    --main-txt-col: #2F2F2F;
    --secondary-txt-col: #8B8E97;
    /* --white-col: white; */
    /* --blue-col: #246BFD; */
    /* --white-blue-col: #ECEFF1; */
    /* #F0F0F0; */
    /* --black-col: #111111; */
    /* --red-col: #FF4F5A; */
    /* --overlay: #43434f94; */





    /* --primary-box-col: #F0F0F0; */

    --primary-col: #F0F0F0;
    --secondary-col: #192734;
    --hover-col: #43434F;

    --main-col: #33E1ED;
    --dark-blue-col: #006270;
    --light-blue-col: #00E0C7;

    --grey-col: #90BEFF;
    --bg-col: #F6F5F8;
    --white-col: #FFFFFF;
    --white-blue-col: #7BA9FF;
    --black-col: #000000;
    --blue-col: #4285F4;
    --light-col: #F7AB4B;
    --red-col: #FF4F5A;
    --overlay-col: #43434f94;




    --bg-col: #F6F5F8;
    --header-col: #FFFFFF;
    --secondary-col: transparent;
    --primary-col: #FFFFFF;
    --dark-box-sh-col: #006270;
    --light-blue-box-sh-col: #00a693;
    --light-box-sh-col: #c0c0c0c5;
    --main-col: #009394;
    --light-blue-col: #00E0C7;
    --med-blue-col: #009394;
    --dark-blue-col: #006270;
    --focus-col: #e8f0fe;
    --sec-text-col: #757575;
    --main-text-col: #43434F;
    --calender-text-col: var(--main-text-col);
    --light-th-light-blue-col: var(--light-blue-col);
    --light-th-med-blue-col: var(--med-blue-col);
    --light-th-dark-blue-col: var(--dark-blue-col);
    --light-th-sec-text-col: #757575;
    --light-th-hover-col: #efeeeeb1;
    --blue-sh-col: var(--dark-blue-col);
    --white-sh-col: var(--white-col);

    --light-in-bg: transparent;
    --input-focus-col: #e8f0fe;

    --black-col: #000000;
    --blue-col: #4285F4;
    --white-blue-col: #7BA9FF;
    --grey-col: #8899A6;
    --light-col: #F7AB4B;
    --red-col: #FF4F5A;
    --hover-col: #43434F;
    --white-col: #FFFFFF;
    --dark-grey: #2C3A47;

    --med-blue-col: #009394;

    --overlay-col: rgba(120, 120, 120, 0.5);
}

body.dark {
    /* --box-sh-col: transparent; */

    --black-col: #000000;
    --blue-col: #4285F4;
    --white-blue-col: #7BA9FF;
    --grey-col: #8899A6;

    --bg-col: #15202B;
    --header-col: #2C3A47;
    --primary-col: #2C3A47;
    --secondary-col: #192734;
    --light-col: #F7AB4B;
    --red-col: #FF4F5A;
    --hover-col: #43434F;
    --white-col: #FFFFFF;
    --main-col: #33E1ED;
    --dark-blue-col: #006270;
    --med-blue-col: #009394;
    --light-blue-col: #00E0C7;
    --overlay-col: rgba(120, 120, 120, 0.5);

    --main-text-col: var(--white-col);
    --sec-text-col: var(--white-col);
    --calender-text-col: var(--white-col);
    --dark-grey: #2C3A47;
    --focus-col: var(--secondary-col);
    --blue-sh-col: transparent;
    --white-sh-col: transparent;
    --input-focus-col: #192734;

    /* --logo-col: #33E1ED; */
    /* --bg-col: #121212; */
    /* --bg-col: #090909; */
    /* #2C3A47 #192734 #22303C #FFFFFF #8899A6 */
    /* #33E1ED */
    /* #006270 #009394 #00E0C7 */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

body.active-overlay {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    /* padding: 0 15px; */
    /* padding: 0 10px; */
    padding: 0 7px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}